<form id="add_question" method="post" action="/questions">
    <input type="text" name="question_title" placeholder="Title">
  <p><textarea name="question_body" placeholder="Type your question here"></textarea></p>
  <p><input id="q_btn" type="submit" value="Submit new question"></p>
</form>
