<form id="add_question" method="post" action="/questions">
  <h1>Ask your Question!</h1>
  <input id="q_title" type="text" name="question_title" placeholder="Title">
  <p><textarea name="question_body" placeholder="Type your question here"></textarea></p>
  <p><input id="q_btn" type="submit" value="submit question"></p>
</form>
