.login {
  width: 235px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E8E8E8;
}

.login > input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #E8E8E8;
}

.login button {
  margin: 5px auto;
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.login button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.login form > label {
  font-size: 14px;
  margin-left: -130px;
}

.login p {
  font-size: 14px;
}

body {
	min-width: 425px;
	max-width: 900px;	
	margin: auto;
}

header {
	background: url('/images/red-flannel.jpg') repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 415px;
	height: 5em;
	padding: 0 2%;
}

header * {
	display: inline-block;
	text-decoration: none;
	color: white;
}

header nav {
	float: right;
	margin-right: 2em;
	margin-top: 1.75em;
}

a:link, a:visited {
	color: inherit;
}

nav a:not(:first-child) {
	border-left: 2px solid darkgrey;
	padding-left: .25em;
}

.container {
	margin: auto;
	padding: 2em;
	padding-top: 0;
	margin-top: 7em;
}

.author {
	font-weight: 900;
}

.question {
	overflow: hidden;
	background-color: lightgrey;
	border-radius: 5px;
	padding: 0.25em 1em;
	margin: 1em 0 ;
}

.questionDetails, .answerDetails {
	float: right;
	width: 95%;
	overflow: hidden;
	box-sizing: border-box;
}

.vote {
	margin-top: 10px;
	width: 3%;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}

.vote * {
	display: block;
}

.voteCount, .answerCount {
	background-color: #99050b;
	border: 1px solid black;
	color: lavenderblush;
	width: 4em;
	height: 2.5em;
	padding: 2px;
	text-align: center;
	display: inline-block;
}

.arrow-up {
	width: 20px; 
	height: 15px;
	background: url('/images/upvote.png') no-repeat;
	background-size: 20px;
}

.arrow-down {
	width: 20px; 
	height: 15px;
	background: url('/images/downvote.png') no-repeat;
	background-size: 20px;
}

.answer {
	border-bottom: 2px solid black;
	padding-bottom: 1em;
}

.answer button.addComment {
	display: block;
	margin-top: 1em;
}

.comment {
	margin: 1em 0 1em 2em;
	border-top: 1px dotted grey;
}

.answerCommentForm, .questionCommentForm {
	margin-top: 2em;
	width: 100%;
}

.answerCommentForm textarea, .questionCommentForm textarea {
	width: 100%;
	box-sizing: border-box;
}

.answerCommentForm button, .questionCommentForm button {
	width: 7em;
}