.login form {
  width: 235px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
 background: -moz-linear-gradient(45deg, #455EFF 0%, #804F4F 80%, #804F4F 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #455EFF), color-stop(80%, #804F4F), color-stop(100%, #804F4F)); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, #455EFF 0%, #804F4F 80%, #804F4F 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, #455EFF 0%, #804F4F 80%, #804F4F 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, #455EFF 0%, #804F4F 80%, #804F4F 100%); /* ie10+ */
background: linear-gradient(45deg, #455EFF 0%, #804F4F 80%, #804F4F 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804F4F', endColorstr='#455EFF',GradientType=1 ); /* ie6-9 */
}

.login form > input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #E8E8E8;
}

.login button {
  margin: 5px auto;
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 15px;
}

.login button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}