<form action="/questions/<%= @question.id %>/answers" class="answer_form" method="post">

  <textarea rows="5" name="answer_text" placeholder="add your answer here"></textarea>
  <button type="submit">submit</button>
</form>