<form action="/<%= commented_on_type %>/<%= commented_on %>/comments/new" class="<%= comment_form_name %>" method="post">
	
	<textarea rows="5" name="comment_text" placeholder="add your comment here"></textarea>
	<button type="submit">submit</button>
</form>