<% if answer.starred == true && current_user.id == @question.user_id %>
<span class="starred-clickable"></span>

<% elsif answer.starred == true %>
<span class="starred"></span>

<% elsif current_user %>
<span class="not-starred"></span>

<% end %>

