<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<div class="login">
  <form action="/users" method="post">
    <input type="text" name="new_account[username]" placeholder="Username">
    <input type="password" name="new_account[password]" placeholder="Password">
    <button type="submit" value="Create Account">Create Account</button>
  </form>
</div>