<form action="/login" method="post" class="login">
  <%= erb :"partials/_login_create_inputs" %>
  <button type="submit" value="Login">Login</button>
  <p>Don't have an account? <a href="/users/new">Sign up</a></p>
</form>
